@model Sneaker_Bar.Models.Sneakers

@if (ViewBag.sneakers.Count == 0)
{
    <a class="font-weight-bold">Your shopping cart is empy</a>
}



<!--Section: Block Content-->
<section>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-8">
            @foreach (Sneakers sneakers in ViewBag.sneakers)
            {
                <!-- Card -->
                <div class="card wish-list mb-3">
                    <div class="card-body">

                        <div class="row mb-4">
                            <div class="col-md-5 col-lg-3 col-xl-3">
                                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                    <img class="img-fluid w-100"
                                         src="~/images/sneakers/@sneakers.ImageData" alt="Sample">

                                </div>
                            </div>
                            <div class="col-md-7 col-lg-9 col-xl-9">
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="mb-3 text-muted text-uppercase small">Company: @sneakers.Company</p>
                                            <p class="mb-2 text-muted text-uppercase small">Model: @sneakers.Model</p>
                                            <p class="mb-3 text-muted text-uppercase small">Release date: @sneakers.ReleaseDate.ToShortDateString()</p>
                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>                                            
                                            <a class="card-link-secondary small text-uppercase mr-3" asp-controller="Sneakers" asp-action="DeleteFromShoppingCart" asp-route-senrakersId="@sneakers.Id">Detail</a>
                                        </div>
                                        <p class="mb-0"><span><strong>@sneakers.Price$</strong></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            }


            <!-- Card -->
            <!-- Card -->
            <div class="card mb-3">
                <div class="card-body">

                    <h5 class="mb-4">We accept</h5>

                    <img class="mr-2" width="45px"
                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                         alt="Visa">
                    <img class="mr-2" width="45px"
                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                         alt="American Express">
                    <img class="mr-2" width="45px"
                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                         alt="Mastercard">
                    <img class="mr-2" width="45px"
                         src="https://z9t4u9f6.stackpathcdn.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
                         alt="PayPal acceptance mark">
                </div>
                <hr class="mb-4">

            </div>


        </div>
        @if (ViewBag.sneakers.Count > 0)
        {
            <div class="col-lg-4">
                <!-- Card -->
                <div class="card mb-3">
                    <div class="card-body">

                        <h5 class="mb-3">The total price of @ViewBag.sneakers.Count items is <span><strong>@ViewBag.totalPrice$</strong></span> </h5>
                        <form method="post" asp-controller="Sneakers" asp-action="ConfirmOrder" asp-route-totalPrice="@ViewBag.totalPrice">
                            <input type="submit"  class="btn btn-primary btn-block waves-effect waves-light" value="Confirm order" />
                        </form>

                    </div>
                </div>

            </div>

        }
    </div>
</section>