@model Sneaker_Bar.Models.Sneakers
@{
    ViewData["Title"] = ViewBag.sneakers.Company + ViewBag.sneakers.Model;
}

<div class="row">

    <div class="col"><h1>@ViewBag.sneakers.Company @ViewBag.sneakers.Model</h1></div>

    <div class="col">
        @{if (User.IsInRole("user") || !User.Identity.IsAuthenticated)
            {
                @if (ViewBag.isInCart)
                {
                    <form method="post" asp-controller="Sneakers" asp-action="AddToShoppingCart" asp-route-id="@ViewBag.sneakers.Id">
                        <input type="hidden" value="@ViewBag.sneakers.Id" name="Id" />
                        <input asp-route-sneakersId="@ViewBag.sneakers.Id" class="btn btn-danger right" type="submit" asp-controller="Sneakers" asp-action="AddToShoppingCart" value="Delete from shopping cart">
                    </form>
                }
                else
                {
                    <form method="post" asp-controller="Sneakers" asp-action="AddToShoppingCart" asp-route-id="@ViewBag.sneakers.Id">
                        <input type="hidden" value="@ViewBag.sneakers.Id" name="Id" />
                        <input asp-route-sneakersId="@ViewBag.sneakers.Id" class="btn btn-success right" type="submit" asp-controller="Sneakers" asp-action="AddToShoppingCart" value="Add to shopping cart">
                    </form>
                }
            }
        }
    </div>
</div>

<img class="img-thumbnail detail-img" src="~/images/sneakers/@ViewBag.sneakers.ImageData" />
<h4>Price: @ViewBag.sneakers.Price$</h4>
<h4>Release date: @ViewBag.sneakers.ReleaseDate.ToShortDateString()</h4>

