@model Sneaker_Bar.Models.Comment
@using Microsoft.AspNetCore.Identity;
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> userManager;
@{
    ViewData["Title"] = ViewBag.Article.Title;
}

<div class="row">
    <h1>@ViewBag.Article.Title</h1>
</div>
<div class="row">
    <a>@ViewBag.Article.Date</a>
</div>

<div class="row">
    <img class="img-thumbnail" src="~/images/articles/@ViewBag.Article.ImageData" />
</div>

<div class="row">
    <a>@ViewBag.Article.Text</a>
</div>

<div class="row">
    <a>Username: @ViewBag.Article.AuthorName</a>
</div>


<form asp-controller="Article" asp-action="CommentAdd" method="post" style="margin-top:20px;">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Title"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="Title" />
        </div>
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Text"></label>
        <div class="col-sm-6">
            <textarea class="form-control " asp-for="Text"></textarea>
        </div>
        <span asp-validation-for="Text"></span>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input id="load" type="submit" class="form-control" value="Send comment" asp-route-articleId="@ViewBag.Article.Id" asp-controller="Article" asp-action="CommentAdd">
        </div>
    </div>

</form>

@{ if (ViewBag.Comments != null)
    {
        foreach (Comment comment in ViewBag.Comments)
        {
            <div class="row">

                <div class="media-block" style="margin-top:10px; margin-bottom:10px;">
                    <a class="media-left"><img class="img-circle img-sm" style="width:50px; height:50px" alt="Профиль пользователя" src="https://bootstraptema.ru/snippets/icons/2016/mia/1.png"></a>
                    <div class="media-body">
                        <div class="mar-btm">
                            <a class="btn-link text-semibold media-heading box-inline">Username: @comment.AuthorName</a>
                            <p class="text-muted text-sm">@comment.Date.ToShortDateString() :  @comment.Date.ToShortTimeString()</p>
                            <h4>@comment.Title</h4>
                        </div>
                        <p>@comment.Text</p>

                        @{ if (User.Identity.IsAuthenticated && (comment.UserId == Guid.Parse(userManager.GetUserId(User)) || User.IsInRole("admin") || User.IsInRole("manager")))
                            {
                                <form method="post" asp-controller="Article" asp-action="DeleteComment" asp-route-articleId="@ViewBag.Article.Id" asp-route-commentId="@comment.Id">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </form>
                            }
                        }
                    </div>
                </div>

            </div>

        }
    }
    else
    {
        <a>Comments: 0 </a>
    }
}