@model List<Sneaker_Bar.Models.Comment>

@using Microsoft.AspNetCore.Identity;
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> userManager;

<div id="commentsForm">
    @{ if (ViewBag.Comments != null)
        {
            foreach (Comment comment in ViewBag.Comments)
            {
                <div class="row">
                    <div class="media-block" style="margin-top:10px; margin-bottom:10px;">
                        <a class="media-left"><img class="img-circle img-sm" style="width:50px; height:50px" alt="Профиль пользователя" src="https://bootstraptema.ru/snippets/icons/2016/mia/1.png"></a>
                        <div class="media-body">
                            <div class="mar-btm">
                                <a class="btn-link text-semibold media-heading box-inline">Username: @comment.AuthorName</a>
                                <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> @DateTime.Now</p>
                                <h4>@comment.Title</h4>
                            </div>
                            <p>@comment.Text</p>
                            <!-- <div class="pad-ver">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-default btn-hover-success"><i class="fa fa-thumbs-up"></i></a>
                                    <a class="btn btn-sm btn-default btn-hover-danger"><i class="fa fa-thumbs-down"></i></a>
                                </div>
                            </div>-->
                            @{ if (User.Identity.IsAuthenticated && comment.UserId == Guid.Parse(userManager.GetUserId(User)))
                                {
                                    <a asp-controller="Article" asp-action="DeleteComment" asp-route-Id="@comment.Id">Delete</a>
                                }}
                        </div>
                    </div>
                </div>

            }
        }
        else
        {
            <a>Comments: 0 </a>
        }
    }
</div>