@model IQueryable<Sneaker_Bar.Models.Sneakers>
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />

@using System.Globalization;
@using Microsoft.AspNetCore.Identity;
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> userManager;

@if (User.IsInRole("admin"))
{
    <div class="text-center">
        <a asp-controller="Sneakers" asp-action="SneakersEdit">Add snickers</a>
    </div>

    <div class="text-center">
        <a asp-controller="Article" asp-action="ArticleEdit">Add article</a>
    </div>

}

<div class="jumbotron" style="margin-left:30px; margin-right:37px;">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="card-deck deck-index">

    @foreach (Sneakers sneakers in ViewBag.Sneakers)
    {
        <div class="card w-25" style=" margin-left: 45px; margin-right: 45px; margin-bottom: 20px;">
            <img class="card-img-top" style="max-height:190px" src="~/images/sneakers/@sneakers.ImageData" />
            <div class="card-body" style=" position: relative;">

                <h4 class="card-title font-weight-bold" style="margin-top:10px;min-height:57.6px">
                    @sneakers.Company
                    @sneakers.Model
                </h4>
                <h6 class="card-subtitle mb-2 text-muted" style="margin-top:10px;">
                    @sneakers.ReleaseDate.ToShortDateString()
                </h6>
                <h4 class="card-text font-weight-bold" style="margin-top:10px;">
                    @sneakers.Price$
                </h4>

                @if (User.IsInRole("admin") || User.IsInRole("manager"))
                {
                    <div class="row" style="margin-top:10px;">
                        <div class="col-sm-6">
                            <form method="get" asp-controller="Sneakers" asp-action="SneakersEdit" asp-route-sneakersId="@sneakers.Id">
                                <input type="hidden" value="@sneakers.Id" name="id" />
                                <input type="submit" class="badge-dark" value="Edit" />
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <form method="post" asp-controller="Sneakers" asp-action="SneakersDelete" asp-route-sneakersId="@sneakers.Id">
                                <input type="hidden" value="@sneakers.Id" name="id" />
                                <input type="submit" class="badge-dark" value="Delete" />
                            </form>
                        </div>
                    </div>
                }

            </div>
            <div class="card-footer">
                <a class="card-link" asp-controller="Sneakers" asp-action="SneakersDetail" asp-route-id="@sneakers.Id">Detail</a>
            </div>

        </div>
    }



</div>

@if (ViewBag.Articles.Count > 0)
{
    <h1 class="center">Latest news</h1>
}

@foreach (Article article in ViewBag.Articles)
{
    <figure class="baha1493">
        <div class="image"><img src="~/images/articles/@article.ImageData" alt="ls-sample1" /></div>
        <figcaption>
            <div class="date"><span class="day">@article.Date.Day</span><span class="month">@article.Date.ToString("MMM", CultureInfo.InvariantCulture)</span></div>

            <a asp-controller="Article" asp-action="ArticleDetail" asp-route-Id="@article.Id">@article.Text</a>
            <p>
                @article.Text
            </p>
            <footer>
                <div class="views"><i class="ion-eye"></i>2,907</div>
                <div class="comments"><i class="ion-chatboxes"></i>0</div>
            </footer>
            <p>
                @article.AuthorName
            </p>
        </figcaption>
    </figure>
}